<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238865741822-v8t5o94qjp80j5e1nmr3qr25o2hhdt5v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238865741822-v8t5o94qjp80j5e1nmr3qr25o2hhdt5v</string>
	<key>API_KEY</key>
	<string>AIzaSyCjxMVa8pLXG0XRaskVzLr5EK7yMFNtvVg</string>
	<key>GCM_SENDER_ID</key>
	<string>238865741822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ultraculture.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-7b8ca</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-7b8ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238865741822:ios:029e3c9e2563f23ae732af</string>
</dict>
</plist>